<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.example.bughunters.dao.UserDAO">

	<!-- 이메일로 단건 조회 -->
	<select id="findByUserName" parameterType="string"
		resultType="edu.example.bughunters.domain.UserDTO">
		SELECT
		USER_ID AS userId,
		USERNAME AS userName,
		PASSWORD AS password,
		NICKNAME AS nickName,
		ADDRESS AS address,
		CREATED_AT AS "date",   <!-- DTO의 
			date 필드에 매핑 -->
		ROLE AS role,
		IS_QUIZ AS isQuiz,
		IS_PET AS isPet
		FROM "User"
		WHERE
		USERNAME = #{value}   <!-- 단일 String 파라미터는 #{value} -->
	</select>

	<!-- 이메일 중복 체크 -->
	<select id="existsByUserName" parameterType="string"
		resultType="int">
		<!-- SELECT COUNT(1) FROM "User" WHERE USERNAME = #{value} -->

		SELECT CASE WHEN COUNT(1) > 0 THEN 1 ELSE 0 END
		FROM "User"
		WHERE
		LOWER(TRIM(USERNAME)) = LOWER(TRIM(#{value}))
	</select>

	<!-- userId로 단건 조회 프로필 불러오기 -->
	<select id="findByUserId" parameterType="int"
		resultType="edu.example.bughunters.domain.UserDTO">
		SELECT
		USER_ID AS userId,
		USERNAME AS userName,
		PASSWORD AS
		password,
		NICKNAME AS nickName,
		ADDRESS AS address,
		CREATED_AT AS "date",
		ROLE AS role,
		IS_QUIZ AS isQuiz,
		IS_PET AS isPet
		FROM "User"
		WHERE USER_ID
		= #{value}
	</select>

	<!-- 회원 가입 -->
	<insert id="insertUser"
		parameterType="edu.example.bughunters.domain.UserDTO"
		useGeneratedKeys="false">
		INSERT INTO "User" (
		USERNAME, PASSWORD, NICKNAME,
		ADDRESS, ROLE, IS_QUIZ, IS_PET
		) VALUES (
		#{userName},
		#{password},
		#{nickName},
		#{address},
		#{role},
		#{isQuiz},
		#{isPet}
		)
	</insert>

	<!-- 회원 정보 수정 (동적) -->
	<update id="updateUserProfile"
		parameterType="edu.example.bughunters.domain.UserDTO">
		UPDATE "User"
		<set>
			<if test="password != null and password != ''">
				PASSWORD = #{password},
			</if>
			<if test="nickName != null and nickName != ''">
				NICKNAME = #{nickName},
			</if>
			<if test="address != null and address != ''">
				ADDRESS = #{address},
			</if>
			<if test="isPet != null">
				IS_PET = #{isPet},
			</if>
		</set>
		WHERE USER_ID = #{userId}
	</update>

	<update id="updatePasswordByUserName" parameterType="map">
		UPDATE
		"User"
		SET PASSWORD = #{password}
		WHERE USERNAME = #{userName}
	</update>

	<!-- 회원 탈퇴 -->
	<delete id="deleteUserById" parameterType="int">
		DELETE FROM "User"
		WHERE USER_ID = #{value}
	</delete>
</mapper>